# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear

# IntelliJ / Eclipse / VS Code settings
.idea/
.project
.classpath
.settings/
.vscode/

# OS junk
.DS_Store
Thumbs.db
